/*
author: kepano
source: https://gist.github.com/kepano/cde61ac7db1afd3f173a16157c627f93
*/

body {
  --callout-border-width: 0 0 0 4px;
  --callout-border-opacity: 1;
  --callout-radius: 0;
  --callout-padding: 0;
  --callout-title-padding: var(--size-4-4) var(--size-4-4);
  --callout-content-padding: var(--size-4-2) var(--size-4-4);
  --callout-blend-mode: normal;
}
.callout-content {
  background-color: var(--background-primary-alt);
}

.markdown-preview-view blockquote:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  width: 3px;
  height: calc(100% - 30px);
  background: var(
    --color-accent
  ); /* change this color to change the vertical bar in preview mode! */
  border-radius: var(--button-radius);
}

cite {
  color: var(--text-accent);
  text-align: end;
  display: block;
  padding-right: 1em;
}
